.ex010 {
	.content {

		.imageArea {
			width: 15rem;
			height: 10rem;
			background-size: cover;
			background-image: url('../images/rocks.png');
			border-radius: .5rem;
			animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
		}

		@keyframes slide-bck-center {
			0% {
				transform: translateZ(0);
			}

			100% {
				transform: translateZ(-400px);
			}
		}
	}


}

.ex009 {
	.content {
		height: 10rem;

		.pause {
			cursor: pointer;
		}

		.ball {
			animation-name: smallBall009;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-play-state: paused;
			animation-direction: alternate;
			width: 2rem;
			height: 2rem;
			background-color: blue;
			border-radius: 50%;
			position: relative;
		}

		@keyframes smallBall009 {
			0% {
				top: 0;
				left: 0;
				background-color: blue;
			}

			25% {
				top: 6rem;
				left: 0;
				background-color: red;
			}

			50% {
				top: 6rem;
				left: 6rem;
				background-color: green;
			}

			75% {
				top: 0rem;
				left: 6rem;
				background-color: orange;
			}

			100% {
				top: 0rem;
				left: 0rem;
			}
		}
	}
}

.ex008 {
	.content {
		height: 10rem;

		.pause {
			cursor: pointer;
		}

		.ball {
			animation-name: smallBall008;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-play-state: paused;
			animation-direction: alternate;
			width: 2rem;
			height: 2rem;
			background-color: blue;
			border-radius: 50%;
			position: relative;
		}

		@keyframes smallBall008 {
			from {
				top: 0;
			}

			to {
				top: 6rem;
			}
		}
	}
}

.ex007 {
	.content {
		--ball-color: #777;
		--easing: cubic-bezier(0.5, 0, 0.5, 1);

		.shape {
			background-color: var(--ball-color);
			width: 4rem;
			height: 4rem;
			margin-top: .5rem;
			box-shadow: 5px 5px 3px #aaa;
		}

		.ball {
			border-radius: 50%;
		}

		.messageArea {
			display: flex;
			justify-content: space-between;
			margin-top: .5rem;

			.message1,
			.message2,
			.message3 {
				color: var(--ball-color);
			}
		}

		.buttonArea {
			display: flex;
			gap: 1rem;
			justify-content: center;
			margin-top: .5rem;
		}

		@keyframes slide-right {
			0% {
				transform: translateX(0);
			}

			50% {
				transform: translateX(50vw);
			}
		}
	}
}

.ex006 {
	.content {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		justify-content: center;

		div.state3 {
			background-color: lightgreen;
			border: 2px solid navy;
			order: -1;
		}

		div.state12 {
			background-color: tomato;
			border: 2px solid navy;
			order: 999;
		}

		div {
			background-color: lightsteelblue;
			padding: .5rem;
			border-radius: .3rem;
		}
	}
}

.ex005 {
	.content {
		* {
			background-color: khaki;
			display: flex;
			justify-content: center;
		}

		display: grid;
		gap: .5rem;
		grid-template-columns: 1fr 3fr 3fr 1fr;
		grid-template-areas: "header header header header"
		"side   side   main   main"
		"footer footer footer footer";

		header {
			grid-area: header;
		}

		div.main {
			grid-area: main;
		}

		div.side {
			grid-area: side;
		}

		footer {
			grid-area: footer;
		}
	}

	@media (min-width: 40rem) {
		.content {
			grid-template-areas:
				"header header header header"
				"...... side   main   ......"
				"footer footer footer footer";
		}
	}

	@media (min-width: 60rem) {
		.content {
			grid-template-areas:
				"header header header header"
				"...... side   side   ......"
				"...... main   main   ......"
				"footer footer footer footer";
		}
	}
}

.ex004 {
	.content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: .4rem;

		div {
			background-color: lightsalmon;
			display: flex;
			justify-content: center;
		}

		.one,
		.four {
			grid-column: 1/3;
		}
	}
}

.ex003 {
	.content {
		display: grid;
		grid-template-columns: 3rem minmax(15rem, 100%) minmax(4rem, 14rem) 3rem;
		gap: .3rem;
		height: 5rem;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: burlywood;
		}
	}
}

.ex002 {
	.content {
		display: grid;
		gap: 1rem;

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(255, 255, 180);
			border-radius: .5rem;
			padding: 0 0 .3rem 0;
			border: 1px solid rgb(95, 184, 95);
		}
	}

	@media (min-width: 40rem) {
		.content {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: 60rem) {
		.content {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

.ex001 {
	.content {
		display: grid;
		gap: 1rem;
	}

	@media (min-width: 40rem) {
		.content {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: 60rem) {
		.content {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}