.ex002 {

	
}

.ex001 {
	.content {
		display: grid;
		gap: 1rem;
	}

	@media (min-width: 40rem) {
		.content {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media (min-width: 60rem) {
		.content {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}