@tailwind base;
@tailwind components;
@tailwind utilities;

.boxWrapper {
	border: 1px solid #555;
	border-radius: .5rem;
	background-color: #fff;
	padding: .5rem 1rem 1rem 1rem;
	margin-bottom: 2rem;

	legend {
		font-size: .8rem;
		background-color: #fff;
		box-shadow: 1px 1px 1px #aaa;
		line-height: .5rem;
		opacity: .7;
		border-radius: .2rem;
		padding: .1rem;
		display: inline-block;
		padding: .2rem .2rem .3rem .2rem;

		span.description {
			color: rgb(134, 6, 6);
		}

		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}